<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Test Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"
</head>

<body>
  <h1>Hello world</h1>
  <form action="{{ url_for('form')}}" method="POST">
    Stock:<br>
    <input type="text" name="tickerArr" value="GOOG">
    <br>
    Start Date:<br>
    <input type="text" name="startDate" value="9/1/2015">
    <br>
    End Date:<br>
    <input type="text" name="endDate" value="9/18/2015">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>


</html>
